.ui.container
  .column.wide.sixteen
    .ui.segment
      .ui.four.statistics
        .statistic
          .value
            = @jobs.count
          .label
            Total #{'Job'.pluralize(@jobs.count)}
        .statistic
          .value
            = @completed_jobs.count
          .label
            Successful #{'Job'.pluralize(@completed_jobs.count)}
        .statistic
          .value
            = @failed_jobs.count
          .label
            Failed #{'Job'.pluralize(@failed_jobs.count)}
        .statistic
          .value
            = @processing_jobs.count
          .label
            Processing #{'Job'.pluralize(@processing_jobs.count)}

    %h2.ui.header Current Jobs
    %table.ui.celled.table
      %thead
        %tr
          %th Job ID
          %th Progress
      %tbody
        - @processing_jobs.each do |job|
          %tr
            %td= job.id
            %td
              .ui.indicating.green.progress{ data: { value: 0.5, total: 1.0 } }
                .bar
